@charset "utf-8";
@font-face {
    font-family:'neko' ;
    src: url(../font/Neko_no_Mezame.ttf);
}
@font-face{
    font-family: 'cinzel';
    src: url(../font/Cinzel-VariableFont_wght.ttf);
}

body,h1,h2,p,ul,ol{
    margin: 0;
    padding: 0;}
img{
    vertical-align: bottom;
}

a{
    text-decoration: none;
}

li{list-style: none;}

/* header */


header{
    background-image: url(../image/stella1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
}



header h1{
    font-size: 60px;
    font-family: cinzel;
    color: aliceblue;
    letter-spacing: 5px;
    padding-top: 300px;
}

header h2{
    margin-top: 30px;
    margin-bottom: 20pxS;
}
.gen{
    font-family:neko ;
    font-size: 40px;
    letter-spacing: 3px;
}

.title{
    text-align: center;
}
.setumei{
    color: aliceblue;
    margin-top: 30px;
}

header nav{
    margin-right: 120px;
    margin-left: auto;
}

header ul{
    display: flex;
    padding-top: 20px;
    width: 320px;
    margin-right: 90px;
    margin-left: auto;

    
}
header a{
    text-decoration: none;
}

header ul li{
   list-style: none;
   margin-left: 30px;
   font-size: 25px;
   font-family: cinzel;
   color: aliceblue;

}

/*reset*/
ul {
    list-style: none;
    

  }
  a {
    color: #000;
    text-decoration: none;
  }
  /*ナビゲーションのスタイル*/
  .header nav {
    margin: 50px 5% 0;
    
  }
 
  header ul li {
    font-size: 30px;
    /*アニメーションの速度設定*/ 
    transition: all 0.5s ease-out;
    
  }
  /*ホバーエフェクト*/
  header ul li:hover {
    /*1.25倍に拡大*/
    -webkit-transform: scale(1.4);
    transform: scale(0.8);
  }




/* article */
.stars{
    padding-bottom: 100px;
}

article{
    background-attachment: fixed;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}



.wakusei_text{
    margin-top: 150px;
    color: aliceblue;
    font-size: 12px;
    letter-spacing: 3px;
}


.wakusei_text h3{
    font-size: 30px;
    color: aliceblue;
    margin-bottom: 20px;
    font-family: cinzel;
    transition: all 0.5s ease-out;
}

.wakusei_text h3:hover{
    transform: scale(1.2);
    transform-origin: left;
}

.simple{
    font-size: 10px;
}

.wakusei_boxl{
    display: flex;
    margin-top: 140px;
}

.wakusei_boxl img{
    max-height: 500px;
    transform:scale(1) ;
    transition-duration: 0.5s;
}



.wakusei_boxl img:hover{
    transform:scale(0.9) ;
    transition-duration: 0.5s;
}


.wakusei_boxl .wakusei_text{
    margin-left: 70px;
    line-height: 4vh;
}


.wakusei_boxr{
    display: flex;
    margin-top: 140px;
    
    
}

.wakusei_boxr img{
    
    margin-right: 0;
    margin-left: auto;
    max-height: 500px;
    transform: scale(1);
    transition-duration: 0.5s;
}

.wakusei_boxr img:hover{
    transform:scale(0.9) ;
    transition-duration: 0.5s;
}


/* .wakusei_boxl img{
    width: 500px;
} */

.wakusei_boxr .wakusei_text{
    margin-right: 70px;
    line-height: 4vh;
    
}

.kaka{
    font-size: 20px;
}

/* footer */
footer{
    background-image: url(../image/stella1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;

}

.footer_box{
    display: flex;
}
footer h1{
    margin-bottom: 20px;
    font-family: cinzel;
    color: aliceblue;
    margin-left: 50px;
    font-size: 40px;

}

footer a {
    display: inline-block;
    text-decoration: none;
  }

footer .footer_nav{
    margin-right: 120px;
    margin-left: auto;
}

footer ul{
    display: flex;
    width: 310px;
    
}

footer li{
    list-style: none;
    margin-left: 30px;
    font-size: 25px;
    font-family: cinzel;
    color: aliceblue;
}

footer a{
    text-decoration: none;
}

footer small{
    color: aliceblue;
}

footer p{
    text-align: center;
}

/*reset*/
footer ul {
    list-style: none;
    

  }
footer  a {
    color: #000;
    text-decoration: none;
  }
  /*ナビゲーションのスタイル*/
footer nav {
    margin: 50px 5% 0;
    
  }
 
footer ul li {
    font-size: 30px;
    /*アニメーションの速度設定*/ 
    transition: all 0.5s ease-out;
    
  }
  /*ホバーエフェクト*/
  footer ul li:hover {
    /*1.25倍に拡大*/
    -webkit-transform: scale(1.4);
    transform: scale(0.8);
  }
