@charset "utf-8";

body,h1,h2,p,ul,ol{
    margin: 0;
    padding: 0;}

    body {
        font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
        /* background-image: url(../images/back.jpg); */
        background-repeat: no-repeat;
        }
        
        
html{
    scroll-behavior: smooth ;
}




/* header */
header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    background-color: rgba(255,255, 255, 1);
    width: 100%;
    transition: all .5s;
    max-height:fit-content;
}

.header_image{
    margin-right: 30px;
}

.header.change-color{
    background-color: rgba(255,255, 255,1);
}


.header-wrapper{
    display: flex;
    margin-top: 10px;
}

.header-menu{margin: 0 0 0 auto;
}    

header h1{
    margin-top: 15px;
    margin-left: 25px;
    
}

header ul{
    display: flex;}

header ul li{
    list-style: none;
    margin: 5px 20px;
}

header ul li a{
    text-decoration: none;
    font-size: 18px;
}

.sns{
    margin-right: 0;
}


article{
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    margin-top: 150px;
}

article h2{
    font-size: 80px;
    margin-bottom: 20px;
    font-family: Nixie One;
    color: rgba(76, 102, 179, 0.977);
    letter-spacing: 0.2em;
}

section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.discobox{margin:0 20px 0 20px 
    
}
img{
    width: 220px;
}







/* footer */

footer{
    background-color: rgb(159, 204, 231);
   /*  margin-top: 100px; */
}

footer img{
    margin-top: 30px;
}

.footer-wrapper{
    display: flex;
    width: 1000px;
    margin: auto;
}

.footer-menu{
    margin-left: 200px;
    margin-top: 30px;
}

footer ul li{
    list-style: none;
    margin-bottom: 10px;
}

footer ul li a{
    text-decoration: none;
}

.sns ul{
    display: flex;
    margin-top: 20px;
}

.sns ul li{
    margin-right: 20px;
    font-size: 30px;
    color: black;
}

