@charset "utf-8";

body,h1,h2,p,ul,ol{
    margin: 0;
    padding: 0;}

    body {
        font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic','Klee One', cursive;
        font-family: 'Zen Maru Gothic', sans-serif;
        background-image: url(../images/back.jpg);
        background-repeat: no-repeat;
        }
        
        
html{
    scroll-behavior: smooth ;
}




/* header */
header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    background-color: rgba(255, 255, 255,0);
    width: 100%;
    transition: all .5s;
}

.header_image{
    margin-right: 30px;
}

header.change-color{
    background-color: rgba(255,255, 255,1);
}




.scrolldown4{
    /*描画位置※位置は適宜調整してください*/
  position:absolute;
  bottom:3%;
  right:95%;
  z-index: 30;
    /*矢印の動き1秒かけて永遠にループ*/
  animation: arrowmove 1s ease-in-out infinite;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove{
      0%{bottom:1%;}
      50%{bottom:3%;}
     100%{bottom:1%;}
 }

/*Scrollテキストの描写*/
.scrolldown4 span{
    /*描画位置*/
  position: absolute;
  left:-20px;
  bottom:10px;
    /*テキストの形状*/
  color: rgb(17, 15, 15);
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

/* 矢印の描写 */
.scrolldown4:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    right: -6px;
    /*矢印の形状*/
    width: 1px;
    height: 20px;
    background: rgb(21, 19, 19);
    transform: skewX(-31deg);
}

.scrolldown4:after{
  content:"";
    /*描画位置*/
  position: absolute;
  bottom:0;
  right:0;
    /*矢印の形状*/
  width:1px;
  height: 50px;
  background:rgb(0, 0, 0);
}

.header-wrapper{
    display: flex;
    margin-top: 10px;
}

.header-menu{margin: 0 0 0 auto;
}    

header h1{
    margin-top: 15px;
    margin-left: 25px;
}

header ul{
    display: flex;}

header ul li{
    list-style: none;
    margin: 5px 25px;
    
    
}


.header ul li {
    font-size: 14px;
    /*アニメーションの速度設定*/ 
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  /*ホバーエフェクト*/
  .header ul li:hover {
    /*1.25倍に拡大*/
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }

header ul li a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(7, 7, 186);
}

.sns{
    margin-right: 0;
}

.menu{
    font-family: 'Klee One', cursive;
}




/* mainvisual */
.visualbox{
    margin-bottom: 20px;
}

.visualbox img{
    position: absolute;
        top: 180px;
        right: 30px;
        left: auto;
}

.tyousei{
    margin-top: 350px;
}

.tyousei1{
    margin-top: 300px;
}

/* article */
article h2{
    writing-mode: vertical-rl;
    font-size: 100px;
    font-weight: lighter;
    font-family: 'Nixie One', cursive;
    letter-spacing: 0.5em;
    color: rgb(5, 5, 117);
}

/* news */

article.news{
    margin-top: 1100px;
    padding-top: 120px;
    display: flex;
    background-image: url(../images/back.jpg);
    background-repeat: repeat;
    padding-bottom:50px ;
    
}

.news_title{
    width: 250px;
}

.news-box{
    height: 100px;
    text-decoration: solid;
}

.news-main{
    padding: 5px;
}

.news-main p{
   /*  text-decoration:underline;
    padding: 5px; */
    border-bottom:solid 1px rgb(7, 7, 114) ;
}

/* movie */

.movie_title{
    width: 220px;
}

article.movie{
    margin-top: 0px;
    padding-top: 120px;
    display: flex;
}

.movie-box{
    display: flex;
}

.movie-r{
    padding-top: 150px;
    padding-right: 10px;
    margin-left: 20px;
}

.video{
    margin-bottom: 40px;
}

.movie-l{
    margin:40px 20px;
}

/* fotter */

footer{
    background-color: rgb(159, 204, 231);
    margin-top: 100px;
}

footer img{
    margin-top: 30px;
}

.footer-wrapper{
    display: flex;
    width: 1000px;
    margin: auto;
}

.footer-menu{
    margin-left: 200px;
    margin-top: 30px;
}

footer ul li{
    list-style: none;
    margin-bottom: 10px;
    font-size: 14px;
    /*アニメーションの速度設定*/ 
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  /*ホバーエフェクト*/
  footer ul li:hover {
    /*1.25倍に拡大*/
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }



footer ul li a{
    text-decoration: none;
    color: rgb(7, 7, 186);
}

.sns ul{
    display: flex;
    margin-top: 20px;
}

.sns ul li{
    margin-right: 20px;
    font-size: 30px;
    color: black;
}


footer small{
    text-align: center;
    margin: 0 auto;
}

footer p{
    text-align: center;
}